﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/kendo.common.css" rel="stylesheet"/>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="/app/TestAngular.main.js"></script>
    <script type="text/javascript" src="/app/controllers/inventory/TestAngular.inventory.js"></script>
    <script type="text/javascript" src="/app/controllers/about/TestAngular.about.js"></script>
    <script type="text/javascript" src="/app/core/entitymanagerprovider.js"></script>
    <script type="text/javascript" src="/app/core/unitofwork.js"></script>
    <script type="text/javascript" src="/app/core/repository.js"></script>
</body>
</html>
