﻿<div style="position: absolute; top: 20px; left:2em;">
<a href="#/about" class="pageLink" >About</a> 

  <span data-ng-bind="welcomeMessage"></span>!
  <ul>
      <li data-ng-repeat="car in cars">
          <input type="text" data-ng-model="car.RegNum"/>{{car.RegNum}}<br />
          <input type="text" data-ng-model="car.CO2"/>{{car.CO2}}<br />
          <!--<input type="text" data-ng-model="car.Model.Name"/>{{car.Model.Name}}<br />-->
          <select data-ng-model="car.Make"  data-ng-options="c.Name for c in Makes"></select>{{car.Make.Name}}<br />
           <select data-ng-model="car.Model"  data-ng-options="d.Name for d in Models | filter:{CarMakeId: car.Make.Id}"></select>{{car.Model.Name}}<br />
      </li>
  </ul>
    <button data-ng-click="saveDetails()">Save Details</button>
</div>